table {
    border-collapse: collapse;
    width: 40%;
    align-self: center;

}
td {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

#button-container {
    text-align: center;
    padding: 30px;
}